<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. CMG Ltd All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of CMG
  ~ ("Confidential Information"). You shall not disclose such Confidential
  ~ Information and shall use it only in accordance with the terms of the
  ~ license agreement you entered into with CMG.
  --><manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.cmg.android.plmobile">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.cmg.android.plmobile.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <permission android:name="com.cmg.android.plmobile.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

    <application
        tools:replace="android:icon"
        android:icon="@drawable/pl_mobile" android:label="@string/app_name"
        >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Newsletters -->
        <activity android:label="@string/app_name" android:name="com.cmg.android.cmgpdf.CmgPDFActivity" android:theme="@style/Theme.Pensionline">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/vnd.ms-xpsdocument"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/pdf"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/x-cbz"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.xps"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.pdf"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.cbz"/>
                <data android:host="*"/>
            </intent-filter>
        </activity>


        <activity android:label="@string/app_name" android:name="com.cmg.android.pension.activity.NewsletterDetailActivity" android:theme="@style/Theme.Pensionline"/>
        <activity android:label="@string/app_name" android:logo="@drawable/ad_logo" android:name="com.cmg.android.plmobile.MainActivity" android:theme="@style/Theme.Pensionline"/>

        <activity android:name="com.cmg.android.plmobile.SplashScreen" android:noHistory="true" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/about_title" android:name="com.cmg.android.pension.activity.content.AboutActivity" android:theme="@style/Theme.Pensionline"/>
        <activity android:label="@string/share_title" android:name="com.cmg.android.pension.activity.content.ShareActivity" android:theme="@style/Theme.Pensionline"/>
        <activity android:label="@string/license_title" android:name="com.cmg.android.pension.activity.content.LicenseActivity" android:theme="@style/Theme.Pensionline"/>
        <activity android:label="@string/help_title" android:name="com.cmg.android.pension.activity.content.HelpActivity" android:theme="@style/Theme.Pensionline"/>
        <activity android:label="@string/preferences_title" android:name="com.cmg.android.plmobile.PreferenceAcitivity" android:theme="@style/Theme.Pensionline"/>
        <activity android:label="@string/title_activity_feedback" android:name="com.cmg.android.pension.activity.content.FeedbackActivity" android:theme="@style/Theme.Pensionline" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:label="@string/crash_title" android:name="com.cmg.android.pension.activity.ForceCloseActivity" android:theme="@style/Theme.Pensionline"/>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f91d00ada9662ee8c98f921db08791e554cec5af" />

    </application>

</manifest>